/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #000;
$primary: #020617;
$secondary: #475569;
$ternary: #64748B;
$border: #E2E8F0;
$gray: #F1F5F9;
$light-gray: #F8FAFC;
